.default-cropper {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.default-cropper__cropper {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.default-cropper__navigation button:hover {
  background-color: #f0f0f0;
}
